#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            require-prior-idle-ms = <120>;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // TAB: hold rightmost left thumb (lt 1 BACKSPACE = pos 33) + Z (pos 20)

        tab {
            bindings = <&kp TAB>;
            key-positions = <20 33>;
            layers = <0>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 29>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <15 21>;
        };

        perc {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
            layers = <0>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <28 16>;
            layers = <0>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
            layers = <0>;
        };

        pound {
            bindings = <&kp POUND>;
            key-positions = <3 15>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <2 14>;
            layers = <0>;
        };

        backslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <26 14>;
            layers = <0>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <8 20>;
            layers = <0>;
        };

        slash {
            bindings = <&kp SLASH>;
            key-positions = <32 20>;
            layers = <0>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <7 19>;
            layers = <0>;
        };

        minus {
            bindings = <&kp KP_MINUS>;
            key-positions = <31 19>;
            layers = <0>;
        };

        underscore {
            bindings = <&kp UNDER>;
            key-positions = <30 18>;
            layers = <0>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
            layers = <0>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 32>;
            layers = <0>;
        };

        para-less {
            bindings = <&paraless>;
            key-positions = <20 19>;
            layers = <0>;
        };

        para-great {
            bindings = <&paragreat>;
            key-positions = <20 21>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 34-key layout, rows of 10 + 4 thumbs
        // Row 0: 0-9
        // Row 1: 10-19
        // Row 2: 20-29
        // Thumbs: 30 31 | 32 33

        DEF {
            display-name = "Base";
            bindings = <
&kp Q           &kp W               &kp F             &kp P               &kp B            &kp J      &kp L               &kp U              &kp Y                &kp SEMI
&hm LEFT_ALT A  &hm LEFT_CONTROL R  &hm LEFT_SHIFT S  &hm LEFT_COMMAND T  &kp G            &kp M      &hm LEFT_COMMAND N  &hm RIGHT_SHIFT E  &hm RIGHT_CONTROL I  &hm RIGHT_ALT O
&kp Z           &kp X               &kp C             &kp D               &kp V            &kp K      &kp H               &kp COMMA          &kp DOT              &kp FSLH
                                                      &lt 2 ESCAPE        &lt 1 BACKSPACE  &kp SPACE  &lt 3 RETURN
            >;
        };

        NAV {
            display-name = "NavNum";
            bindings = <
&kp ESC    &trans              &trans                   &kp END               &kp LG(LS(NUMBER_4))  &kp PAGE_UP    &kp HOME                &kp N8                &kp END                     &kp N0
&kp TAB    &hm LEFT_CONTROL S  &hm LEFT_SHIFT UP_ARROW  &hm LEFT_COMMAND DEL  &kp PAGE_UP           &kp PAGE_DOWN  &hm RIGHT_COMMAND LEFT  &hm RIGHT_SHIFT DOWN  &hm RIGHT_CONTROL UP_ARROW  &hm RIGHT_ALT RIGHT_ARROW
&kp LG(Z)  &kp LG(X)           &kp LG(C)                &kp LS(LG(C))         &kp LG(V)             &trans         &kp N1                  &kp N2                &kp N3                      &kp PAGE_DOWN
                                                        &trans                &kp SPACE             &kp RET        &mo 3
            >;
        };

        SYM {
            display-name = "Symbols";
            bindings = <
&kp GRAVE          &kp LESS_THAN           &kp GREATER_THAN      &kp MINUS                  &kp PIPE       &kp CARET  &kp LEFT_BRACE                      &kp RIGHT_BRACE                    &kp DOLLAR              &kp SEMI
&hm LEFT_ALT EXCL  &hm LEFT_CONTROL ASTRK  &hm LEFT_SHIFT SLASH  &hm LEFT_COMMAND KP_EQUAL  &kp AMPERSAND  &kp HASH   &hm RIGHT_COMMAND LEFT_PARENTHESIS  &hm RIGHT_SHIFT RIGHT_PARENTHESIS  &hm RIGHT_CONTROL SEMI  &hm RIGHT_ALT SINGLE_QUOTE
&kp TILDE          &kp PLUS                &kp LEFT_BRACKET      &kp RIGHT_BRACKET          &kp PERCENT    &kp AT     &kp COLON                           &kp LBRC                           &kp RBRC                &kp PIPE
                                                                 &mo 3                      &kp SPACE      &kp RET    &trans
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&kp F1        &kp F2         &kp F3  &kp F4  &kp F5          &kp F6        &kp N7        &kp N8        &kp N9        &kp F10
&hm LGUI F11  &hm LSHFT F12  &trans  &trans  &studio_unlock  &trans        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&bt BT_SEL 0  &kp F1         &kp F2  &kp F3  &trans          &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &bootloader
                                     &trans  &trans          &trans        &trans
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&bt BT_CLR  &bt BT_PRV      &bt BT_NXT      &trans           &msc SCRL_UP    &trans  &trans     &trans     &trans  &trans
&trans      &trans          &mmv MOVE_UP    &trans           &msc SCRL_DOWN  &trans  &mkp LCLK  &mkp RCLK  &trans  &trans
&trans      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans          &trans  &trans     &trans     &trans  &trans
                                            &trans           &trans          &trans  &trans
            >;
        };
    };
};
